*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 10%;
    position: sticky;

}

header {
    background-color: #776B5D;
    box-shadow: 0 0 36px 0;
    backdrop-filter: blur(3px);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80%;
    margin: auto;
    padding: 1.2rem 0rem;
    position: sticky;

}

.logo {
    font-size: 1.3rem;
    font-weight: 800;
}