<h1>Gestiondelvalle</h1>
<ul>
    <li><a routerLink="/auth">auth base("no existe")</a></li>
    <li><a routerLink="/auth/login">Login</a></li>
    <li><a routerLink="/auth/registro">register</a></li>
    <li><a routerLink="/main/main">Main</a></li>
    <li><a routerLink="/main/productoseleccionado">Producto seleccionado</a></li>
    <li><a routerLink="/main/carrito">carrito</a></li>
    <li><a routerLink="/usuario/contrasena">carrito</a></li>
    <li><a routerLink="/usuario/datos">carrito</a></li>
    <li><a routerLink="/usuario/direccion">carrito</a></li>



</ul>

<router-outlet></router-outlet>