<h1>Gestiondelvalle</h1>
<ul>
    <li><a routerLink="/auth">auth base("no existe")</a></li>
    <li><a routerLink="/auth/login">Login</a></li>
    <li><a routerLink="/auth/registro">register</a></li>
    <li><a routerLink="/main/main">Main</a></li>
    <li><a routerLink="/main/productoseleccionado">Producto seleccionado</a></li>
    <li><a routerLink="/main/carrito">carrito</a></li>

    <li><a routerLink="/usuario/contrasena">contrasena</a></li>
    <li><a routerLink="/usuario/datos">datos</a></li>
    <li><a routerLink="/usuario/direccion">direccion</a></li>
    <li><a routerLink="/usuario/usuario">usuario</a></li>

    <li><a routerLink="/administrador/administrador">administrador</a></li>
    <li><a routerLink="/administrador/productos">productos</a></li>
    <li><a routerLink="/administrador/productos-add">productos-add</a></li>
    <li><a routerLink="/administrador/productos-edit">productos-edit</a></li>

</ul>

<router-outlet></router-outlet>