<body>
    <div class="carruseldiseño">
      <app-carrusel></app-carrusel>
    </div>
  <main class="main">
    <div class="contenedor">
      <h3 class="titulo3">Disfruta de los mejores productos
        <p class="nombre">{{nombreusuario}} {{apellidousuario}}</p>
      </h3>
    </div>





    <div class="container">




  
        <!--Carda!-->
        <div class="row">
          <div class="card-container">
            <ng-container class="card-container" *ngFor="let producto of productos$ | async">
              <div class="card custom-card single-card"
                *ngIf="tipoProductoSeleccionado === '' || producto.tipo === tipoProductoSeleccionado">>
                <div class="product">
                  <img [src]="producto.image" class="card-img-top custom-img" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">{{producto.nombre}}</h5>
                    <p class="card-text">{{producto.descripcion}}</p>
                    <p class="card-text">Tipo: {{producto.tipo}}</p>
                    <p class="card-text">Precio: ${{producto.precio}}</p>
                    <div class="boton1">
                      <button type="button" class="botoninspeccionar" (click)="inspeccionar(producto)">Inspeccionar
                      </button>
                      <button type="button" class="botoncomprar" (click)="addToCart(producto)">Comprar
                      </button>
                    </div>
  
  
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
  
  
      <!--Carda!-->
      <!--Carda!-->
  
    </main>
  
  
  
  
  
  
    <!--Carda!-->
  
  
  
  
  
  
  
  
  
  
  </body>