/* Establece el ancho máximo del contenedor principal y lo centra */
.container {
	max-width: 1170px;
	margin: auto;
}

/* Establece las propiedades de las filas (elementos flexibles) */
.row {
	display: flex;
	flex-wrap: wrap;
}

/* Quita los puntos de lista en las listas desordenadas */
ul {
	list-style: none;
}

/* Estilos generales para el pie de página */
.footer {
	padding: 70px 0;
    background-color: #776b5d;
    
    background-attachment: fixed;
    background-size: cover;    
}

.background{
    opacity: 60%;
}