<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>contacto</h4>
                <ul>
                    <li><a href="#">gdv@gmail.com</a></li>
                    <li><a href="#">+54 9 299 546 3000</a></li>
                    <li><a href="#">paraguay 1050</a></li>
                    <li><a href="#">cipolleti 8324</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>navegación</h4>
                <ul>
                    <li><a routerLink="/main/main">inicio</a></li>
                    <li><a routerLink="/administrador/productos">productos</a></li>
                    <li><a routerLink="/main/main">articulos</a></li>
                    <li><a routerLink="/main/main">iniciar sesion</a></li>
                    <li><a routerLink="/main/main">registrarse</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>derechos de autor</h4>
                <ul>
                    <li><a href="#">© 2023 GestionDelValle. Todos los derechos reservados.</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>redes sociales</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>