
<input
  [formControl]="searcher"
  type="text"
  placeholder="Buscar producto por nombre"
  class="form-control mt-2"
/>
<div class="body">
<div class="productos" *ngIf="productos$ | async as productos">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Tipo</th>
        <th scope="col">Precio</th>
        <th scope="col">Imagen</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let producto of productos; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ producto.nombre }}</td>
        <td>{{ producto.descripcion }}</td>
        <td>{{ producto.tipo }}</td>
        <td>{{ producto.precio }}</td>
        <td><img [src]="producto.image" alt="Product Image"></td>
        <td>
          <button class="btn btn-primary" (click)="editPlayer(producto)">Editar</button>
          <button class="btn btn-danger ms-2" (click)="deletePlayer(producto)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-primary" (click)="_router.navigate(['/administrador/productos-add'])">Agregar Producto</button>

</div>
</div>