body, html {
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

  .container {
    background-color: #1a1a1a;
    color: #fff;
    padding: 40px;
    border-radius: 10px;
  }